#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#2c3e50;margin-top:60px}.hell{color:red}.panel{margin-top:2em}span{color:red}.regist{color:green}button{align:right}
/*# sourceMappingURL=app.c2a10b0d8b33d763afec5a04b1c8627d.css.map */